<div class="bg-light p-5 tex-center">
  <div class="container">
    <h1 class="text-center">Our Products</h1>
    <p class="lead text-center">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, molestiae.
    </p>
    <div class="row">
      <app-product-details
        class="col-sm-6 col-md-4 col-lg-3"
      ></app-product-details>
      <app-product-details
        class="col-sm-6 col-md-4 col-lg-3"
      ></app-product-details>
      <app-product-details
        class="col-sm-6 col-md-4 col-lg-3"
      ></app-product-details>
      <app-product-details
        class="col-sm-6 col-md-4 col-lg-3"
      ></app-product-details>
    </div>
  </div>
</div>
